/*@font-face {*/
/*    font-family: 'GolosText-Bold';*/
/*    src: url('../fonts/Golos_Text/GolosText-Bold.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'GolosText-Medium';*/
/*    src: url('../fonts/Golos_Text/GolosText-Medium.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'GolosText-Regular';*/
/*    src: url('../fonts/Golos_Text/GolosText-Regular.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'GolosText-SemiBold';*/
/*    src: url('../fonts/Golos_Text/GolosText-SemiBold.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Merriweather-Bold';*/
/*    src: url('../fonts/Merriweather/Merriweather-Bold.ttf');*/
/*}*/
/*@font-face {*/
/*    font-family: 'Merriweather-Regular';*/
/*    src: url('../fonts/Merriweather/Merriweather-Regular.ttf');*/
/*}*/

/*Golos Text*/
@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Bold.eot');
    src: local('Golos Text Bold'), local('GolosText-Bold'),
    url('../fonts/Golos_Text/GolosText-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Golos_Text/GolosText-Bold.woff2') format('woff2'),
    url('../fonts/Golos_Text/GolosText-Bold.woff') format('woff'),
    url('../fonts/Golos_Text/GolosText-Bold.svg#GolosText-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Medium.eot');
    src: local('Golos Text Medium'), local('GolosText-Medium'),
    url('../fonts/Golos_Text/GolosText-Medium.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Golos_Text/GolosText-Medium.woff2') format('woff2'),
    url('../fonts/Golos_Text/GolosText-Medium.woff') format('woff'),
    url('../fonts/Golos_Text/GolosText-Medium.svg#GolosText-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-Regular.eot');
    src: local('Golos Text Regular'), local('GolosText-Regular'),
    url('../fonts/Golos_Text/GolosText-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Golos_Text/GolosText-Regular.woff2') format('woff2'),
    url('../fonts/Golos_Text/GolosText-Regular.woff') format('woff'),
    url('../fonts/Golos_Text/GolosText-Regular.svg#GolosText-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Golos Text';
    src: url('../fonts/Golos_Text/GolosText-SemiBold.eot');
    src: local('Golos Text SemiBold'), local('GolosText-SemiBold'),
    url('../fonts/Golos_Text/GolosText-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Golos_Text/GolosText-SemiBold.woff2') format('woff2'),
    url('../fonts/Golos_Text/GolosText-SemiBold.woff') format('woff'),
    url('../fonts/Golos_Text/GolosText-SemiBold.svg#GolosText-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


/*Merriweather*/
@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Bold.eot');
    src: local('Merriweather Bold'), local('Merriweather-Bold'),
    url('../fonts/Merriweather/Merriweather-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Merriweather/Merriweather-Bold.woff2') format('woff2'),
    url('../fonts/Merriweather/Merriweather-Bold.woff') format('woff'),
    url('../fonts/Merriweather/Merriweather-Bold.svg#Merriweather-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Merriweather';
    src: url('../fonts/Merriweather/Merriweather-Regular.eot');
    src: local('Merriweather Regular'), local('Merriweather-Regular'),
    url('../fonts/Merriweather/Merriweather-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Merriweather/Merriweather-Regular.woff2') format('woff2'),
    url('../fonts/Merriweather/Merriweather-Regular.woff') format('woff'),
    url('../fonts/Merriweather/Merriweather-Regular.svg#Merriweather-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



