@import "fonts.css";

:root {
    /*fonts*/
    --g: 'Golos Text';
    --m: 'Merriweather';
    /*colors*/
    --main: #313131;
    --highlight: #F54932;
    --highlight-dark: #1F1F1F;
    --highlight-hover: #FBCE51;
    --highlight-extra: #3057A2;
    --extra: #595653;
    --bg: #E9DED4;
    --bg-2: #D9D9D9;
    --bg-3: #D0D0D0;
}

body {

}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}

.navbar {
    margin-bottom: 37px;
    padding: 30px 0 ;
}

.header {

    height: 760px;

    display: flex;
    flex-direction: column;
}

.header__content {
    background: url("../images/animation/header-bg.png") center/cover no-repeat;
    width: 100%;
    display: flex;
    flex-grow: 1;
}

.header__info {
    max-width: 542px;
    width: 100%;
}

.header__title {
    font-family: var(--m);
    font-size: 3.75rem;
    line-height: 1.1em;
    color: var(--main);
    text-transform: uppercase;
    text-align: left;
    width: 100%;
}

.header__title-centered {
    text-align: center;
}

.header__paragraph {
    font-family: var(--g);
    font-size: 1.125rem;
    line-height: 1.3em;
    color: var(--main);
    text-align: center;
    width: 100%;
    margin: 24px 0 40px 0;
}

.header__buttons {
    display: flex;
    column-gap: 16px;
}

.header__button {
    display: block;
    font-family: var(--g);
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.3em;
    text-align: center;
    max-width: 263px;
    width: 100%;
    padding: 20px 0;
    color: var(--highlight-dark);
    border: 2px solid var(--highlight-dark);
    border-radius: 66px;
    transition: all 0.4s ease 0s;
}

.header__button_highlight {
    color: white;
    background: var(--highlight-dark);
}

/*running line*/

.running-line {
    width: 100%;
    height: 60px;
    overflow: hidden;
    background: var(--highlight);
    padding: 18px 0;
    position: relative;
}

.running-line__list {
    display: inline-flex;
    margin: 0;
    padding: 0;
    animation: running-line 30s linear infinite;
    white-space: nowrap;
}

.running-line__text {
    font-family: var(--m);
    font-size: 1.375rem;
    line-height: 1.1em;
    color: white;
    text-transform: uppercase;
    list-style: disc;
    margin-left: 24px;
    user-select: none;
}

.running-line__text:not(:last-child) {
    margin-right: 12px;
}

@keyframes running-line {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.running-line::before,
.running-line::after {
    content: "";
    position: absolute;
    top: 0;
    width: 50px;
    height: 100%;
    z-index: 2;
}

.running-line::before {
    left: 0;
    background: linear-gradient(to right, var(--highlight), transparent);
}

.running-line::after {
    right: 0;
    background: linear-gradient(to left, var(--highlight), transparent);
}

/*sections*/

/*.section {*/
/*    display: flex;*/
/*    justify-content: space-between;*/
/*    align-items: center;*/
/*}*/
/*.section__start:has(img) {*/
/*    width: 40%;*/
/*}*/
/*.section__start img{*/
/*    width: 100%;*/
/*}*/

/*.section__subtitle, .section__subtitle span {*/
/*    font-family: var( --m);*/
/*    font-size: 2.25rem;*/
/*    line-height: 1.35em;*/
/*    text-transform: uppercase;*/
/*    color: var(--main);*/
/*    max-width: 764px;*/
/*    width: 100%;*/
/*}*/
/*.section__subtitle span{*/
/*    font-weight: 700;*/
/*    color: var(--highlight);*/
/*}*/

/*.lecture {*/
/*    margin: 80px 0 64px 0;*/
/*    column-gap: 64px;*/
/*}*/

/*.section__link {*/
/*    font-family: var(--g);*/
/*    font-size: 1.25rem;*/
/*    line-height: 24px;*/
/*}*/

/*.session {*/
/*    column-gap: 44px;*/
/*}*/

/*.session__table {*/
/*    border-collapse: collapse;*/
/*    width: 100%;*/
/*    margin: 60px 0 48px 0;*/
/*}*/

/*.session__table td {*/
/*    border: 2px solid var(--bg-3);*/
/*    padding: 16px;*/
/*    font-family: var(--g);*/
/*    font-size: 1.25rem;*/
/*    line-height: 1.2em;*/
/*    color: rgba(49, 49, 49, 0.7);*/
/*}*/
/*.session__table td:nth-of-type(2) {*/
/*    font-weight: 600;*/
/*    color: var(--main);*/
/*}*/
/*!*borders*!*/
/*.session__table td:first-child {*/
/*    border-left: unset;*/
/*    padding-left: 0;*/
/*}*/
/*.session__table td:last-child {*/
/*    border-right: unset;*/
/*    padding-right: 0;*/
/*}*/
/*.session__table tr:first-child td {*/
/*    border-top: unset;*/
/*}*/
/*.session__table tr:last-child td {*/
/*    border-bottom: unset;*/
/*}*/

/*.session__table tr td:first-child {*/
/*    width: 50%;*/
/*}*/

/*.session__discount {*/
/*    text-decoration: line-through;*/
/*    text-decoration-color: var(--highlight);*/
/*    margin-right: 12px;*/
/*}*/







